.clubs-component {
  margin: 1% 5% 0 5%;
  font-family: 'Baloo Bhai', cursive;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-name {
  flex: 2;
}

.title-filter {
  flex: 1;
}

@media (min-width: 600px) {
  .clubs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .club-button {
    flex: 1 0 30%;
    margin: 5%;
    height: 100px;
    width: 150px;
    background-color: fade-out($color: white, $amount: 0.25);
    border-radius: 25% 10%;
    border: solid;
  }
}

.club-item {
}
@media (max-width: 600px) {
  .club-button {
    margin: 1% 0 0 15%;
    height: 50px;
    width: 70%;
    background-color: fade-out($color: white, $amount: 0.25);
    border-radius: 25% 10%;
    border: solid;
  }
}
