@media (min-width: 600px) {
  .on-large {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    background-color: fade-out($color: white, $amount: 0.5);
    color: black;
    padding: 2%;
    justify-content: space-between;
  }
  .form-section {
    margin: 3%;
  }
}
@media (max-width: 600px) {
  .on-large {
    height: 100vh;
  }
  .form-section {
    margin: 3%;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-label {
  margin: auto;
}

.form-selector {
  width: 50vw;
  margin: auto;
}

.form-selector:hover {
  background-color: fade-out($color: #6a9e46, $amount: 0.5);
}

.add-btn {
  background: #60b566;
}
